<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- Defines your active package sources -->
  <packageSources>
    <clear />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>

  <!-- Configures the source mappings -->
  <packageSourceMapping>
    <!-- Map all Microsoft-authored packages to download from nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
	  <package pattern="System.*" />
	  <package pattern="Kem.*" />
	  <package pattern="*" />
      <!-- You can also map everything else using a wildcard if desired -->
      <!-- <package pattern="*" /> -->
    </packageSource>
    
    <packageSource key="Microsoft Visual Studio Offline Packages">
      <package pattern="Microsoft.*" />
	  <package pattern="System.*" />
	  <package pattern="Kem.*" />
	  <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>